scripts=["
    create service user blackbird-content-structure-reader-service
    set ACL for blackbird-content-structure-reader-service
      allow jcr:read on /content
    end

    create service user blackbird-updates-reader-service
    set ACL for blackbird-updates-reader-service
      allow jcr:read on /content
    end

    create service user blackbird-page-content-reader-service
    set ACL for blackbird-page-content-reader-service
      allow jcr:read on /content
    end

    create service user blackbird-translation-writer-service
    set ACL for blackbird-translation-writer-service
      allow jcr:all on /content
    end

    create service user blackbird-translation-rules-reader-service
    set ACL for blackbird-translation-rules-reader-service
      allow jcr:read on /conf/global/settings
      allow jcr:read on /apps/settings
      allow jcr:read on /etc/workflow/models
      allow jcr:read on /libs/settings/translation
    end

    create service user blackbird-reference-reader-service
    set ACL for blackbird-reference-reader-service
      allow jcr:read on /content
      allow jcr:read on /conf
    end

    create service user blackbird-content-exporter-service
    set ACL for blackbird-content-exporter-service
      allow jcr:read on /content
      allow jcr:read on /conf
    end
"]
